/*--------general--------*/
:root {
    --col-main-light-blue: #2d84b7;
    --col-main-darker-blue: #1f73a3;
    --col-main-dark-blue: #102937;
    --col-main-darkest-blue: #206996;
    --col-main-alt: #B7602D;
    --col-main-alt-hover: #a34f1f;
    --col-error-red: #c90d0d;
    --col-confirm-green: #269b35;
    --col-main-navy: #11131a;
    --col-main-navy-dark: #0e1016;
    --col-white: #eeecec;
    --col-off-white: #d3d2d2;
    --col-light-grey: #9e9fa0;
    --col-dark-grey: #333;
    --bg-dark-mode-darker:#1c1d22;
    --bg-dark-mode-main: #282b30;
    --bg-dark-mode-lighter: #36393e;
    --bg-dark-mode-lightest: #4b5055;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes pulsing {
    from {
      color: #eeecec;
    }
  
    to {
      color: #c90d0d;
    }
  }
  
  .pulsing {
    animation: pulsing 1s ease-in-out forwards;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  body {
    background-color: var(--bg-dark-mode-main);
  }
/*--------end of general--------*/

/*----counters----*/
.counter-score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 75px;
}

.start-restart {
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 30px;
    background-color: var(--col-confirm-green);
    color: var(--col-white);
}

.time,
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--col-white);
}

h3 {
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

h1 {
    font-size: 60px;
    margin-bottom: 50px;
    color: var(--col-white);
}
/*----end of counters----*/

/*----user prompts and inputs----*/
.array-word {
    color: var(--col-main-alt);
}
.lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

input[type="text"] {
    color: var(--col-main-light-blue);
    font-weight: 600;
    font-size: 40px;
    margin-top: 25px;
    width: fit-content;
    text-align: center;
    background-color:var(--bg-dark-mode-main) ;
}

input[type="text"]::placeholder {
    color: var(--col-main-light-blue);
}
/*----end of user prompts and inputs----*/